/* CSS styles for the project */
/* global variables */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: #1768ac;
    --secondary-color: #2541b2;
    --highlight-color: #98d2eb;
    --heavy-color: #1f0812;
    --font-family: 'Arial', sans-serif;
}

h1,
h2,
h3 { 
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    color: var(--heavy-color);
}

p {
    font-family: 'Nunito', sans-serif;
    color: var(--primary-color);
}

body {
    background-color: var(--primary-color);
}
.logo {
    height: 50px;
    color: var(--heavy-color);
}

.navbar {
    background-color: var(--secondary-color);
}

.footer {
    background-color: var(--secondary-color);
}

#copy {
    text-align: right;
    color: white;
}
